<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../css/uploadcss/upload.css ">
    <script src="../layui/layui.js" charset="utf-8"></script>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item"><a href="">最新活动</a></li>
    <li class="layui-nav-item layui-this">
        <a href="javascript:;">产品</a>
        <dl class="layui-nav-child">
            <dd><a href="">选项1</a></dd>
            <dd><a href="">选项2</a></dd>
            <dd><a href="">选项3</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">大数据</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd class="layui-this"><a href="">选中项</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">社区</a></li>
</ul>
<div style="height: 100%;padding: 10px;background-color: #0C0C0C">
    <div class="layui-col-md6" style="padding: 10px;">
        <div class="layui-card">
            <div class="layui-card-header" style="text-align: center;">我的电脑</div>
            <div class="layui-card-body">
                展示我的电脑中的文件
            </div>
        </div>
    </div>
    <div class="layui-col-md6" style="padding: 10px;">
        <div class="layui-card">
            <div class="layui-card-header" style="text-align: center;">我的网盘</div>
            <div class="layui-card-body">
                展示我的网盘中的文件
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });

</script>
</body>
</html>